.skill {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    position: relative;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-shadow: rgb(147 147 147 / 35%) 0px 4px 18px, rgb(255 255 255 / 30%) 0px 1px 0px inset;
    padding: 20px;
}

.icon > img {
    max-width: 50px;
    max-height: 50px;
    min-height: 45px;
}

h3 {
    margin: 10px;
    font-weight: 600 !important;
}