.MainProjectsContainer {
    background-color: rgba(248, 249, 250, 1);
    min-height: 100vh;
    padding: 6.5rem 0;
}

.flexContainer {
    max-width: 1320px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.flexContainer h2 {
    font-size: 40px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.2;
}


.Projects {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}