.MainProjectsContainer {
    background-color: rgba(248,249,250,1);
    min-height: 100vh;

}

.flexContainer {
    max-width: 1320px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
border: 1px solid black;
}
.flexContainer h2 {
    font-size: 40px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600 ;
    line-height: 1.2;

}





.Projects {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}