.mainBlock {
    height: 100vh;
    width: 100%;
    background-color: rgba(245, 223, 78, 70%);
    margin-top: 70px;
}

.flexBlock {
    max-width: 1320px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text {
    width: 400px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.btnWrapper {
    height: 53px;
    display: flex;
    margin-top: 26px;

}

.btnWrapper a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.btnWrapper .btnLeft {
    color: white;
    background-color: #252b33;
}

.btnWrapper .btnRight {
    color: #252b33;
    transition: 1s;
}

.btnWrapper .btnRight:hover {
    color: #252b33;
    border: 1px #252b33 solid;
    transition: 1s;
}

.rounded {
    background-color: white;
    border-radius: 50%;
}

.rounded .photo {
    width: 350px;
    height: 350px;
    background-color: #252b33;
    background-position: center;
    border-radius: 50%;
    margin: 15px;
}