.mainBlock {
    height: 100vh;
    background-color: rgba(245, 223, 78, 70%);

}

.flexBlock {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text {
    width: 400px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500 ;
}

.rounded {
    background-color: white;
    border-radius: 50%;
}

.rounded .photo {
    width: 350px;
    height: 350px;
    background-image: url("../../Img/avatar.jpg");
    background-position: center;
    border-radius: 50%;
    margin: 15px;
}

