.Project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container {
  overflow: hidden;
}

.ProjectIMG {
  position: relative;
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
  @media (max-width: 600px) {
    width: 350px;

  }
}

.ProjectIMG:hover {
  transform: scale(1.1);
}

.ProjectIMG::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s;
  opacity: 0.8;
}

.ProjectIMG:hover::before {
  background-color: #000;
}

.title {
  position: relative;
  visibility: hidden;
  font-size: 20px;
  transition: all 0.5s;
  z-index: 1;
}

.title a {
  color: white;
}

.ProjectIMG:hover .title {
  visibility: visible;
}


.ProjectDiscription {
  width: 400px;
  min-height: 150px;
  @media (max-width: 600px) {
    width: 350px;

  }
}