.Header {
    height: 70px;
    max-width:1320px;
    width:100%;
    padding: 0 12px;
    margin:0 auto;
    .navigation {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}


.navigation a {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 0.85em;
    color: #252b33;
    position: relative;
    font-weight: 600;
    text-transform: uppercase !important;
}

.navigation a::after {
    content: "";
    position: absolute;
    bottom: 20%;
    border-radius: 20px;
    background: #f5df4e;
    width: calc(100% - 1.7em);
    height: 3px;
    transition: transform .5s;
    transform: scale(0);
}

.navigation a:hover::after{
    transform: scale(1);
}